@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #eeeff1;
  background: url('/resources/img/plant.jpg') no-repeat 70% 100%/cover;
  text-transform: lowercase;
}

/* Header: Logo + Navbar */
#navbar {
  font-weight: 100;
  background-color: rgb(59, 59, 59);
  width: 100%;
  max-height: 60px;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  opacity: 0.9;
}

#logo {
  width: 3.5rem;
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

#navbar ul {
  display: flex;
  text-transform: lowercase;
}

#navbar ul li {
  list-style: none;
  margin-right: 30px;
}

#navbar li a {
  color: #fff;
  text-decoration: none;
  padding: 18.5px;
}

#navbar li a:hover {
  font-weight: 400;
}


/* Banner + Banner Inner --------------------- */
.banner img {
display: inline-block;
width: 100%;
height: 40rem;
object-fit: cover;
object-position: 100% 30%;
position: relative;
}

.banner-inner {
  padding: 10px;
  z-index: 100;
  position: absolute;
  text-transform: lowercase;
  background-color: #fff;
  width: 100%;
  bottom: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #333;
}

.banner-inner h1 {
  letter-spacing: 0.4rem;
}

/* Image Gallery Section ----------------------- */
#image-gallery {
width: 70%;
margin: auto;
margin-top: 50px;
margin-bottom: 50px;
background-color: rgba(255, 255, 255, 0.384);
}

#image-gallery img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 10px solid #fff;
}

.image-gallery-header {
  margin: 0 auto;
  text-align: center;
  text-transform: lowercase;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.image-gallery-header h2 {
  margin-left: 10px;
}

.image-gallery-header p {
  width: 50%;
  background-color: #fff;
  border-right: 5px solid #000;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-item {
  display: inline-block;
  margin: 20px 20px 60px;
  width: 300px;
  height: 300px;
}

.flex-item p {
  display: inline-block;
  width: 100%;
  background-color: #fff;
  margin-top: -100px;
  margin-bottom: 20px;
  padding: 7px;
}

/* Our Team----------------------------------- */
#team {
  background-color: rgba(255, 255, 255, 0.384);
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

#team-header {
  text-align: center;
  font-weight: 100;
  font-size: 3rem;
}

.team-container {
  width: 80%;
  display: flex;
  flex: 1 1 100%;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  flex-wrap: nowrap;
}

.team-item img {
  /* margin: 0 auto;
  height: auto;
  flex: 1 1 100%; */
  width: 100%;
  opacity: 0.79;
  border: 2px solid rgba(255, 255, 255, 0.384);
}

.team-item img:hover {
  opacity: 1;
}

.team-item {
  flex: 1 1 100%;
}

.team-item h2 {
  text-align: center;
  text-transform: lowercase;
  font-weight: 200;
}

.team-blurb h3 {
  text-align: center;
  text-transform: lowercase;
}

.team-blurb {
  padding: 10px;
  background-color: burlywood;
  text-align: justify;
  margin: 2px;
  flex: 1 1 100%;
}

#team-heading-mobile {
  display: none;
}

/* ------------------Quote Section--------------------- */
#quote {
  width: 80%;
  height: auto;
  background-color: #fff;
  margin: 40px auto;
}

.quote-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.quote-item {
  flex: 1 1 100%;
}

.quote-item img {
  width: 100%;
  height: 100%;
  display: inline-block;
  flex: 1 1 100%;
  object-fit: cover;
}

#quote-text {
  position: relative;
  bottom: 1100px;
  right: 250px;
  font-size: 3rem;
  text-transform: lowercase;
  letter-spacing: 2px;
  background-color: rgba(0, 0, 0, 0.171);
  border: 15px solid #fff;
  padding: 20px;
  color: #fff;
}


/* Visit Us Section ---------------------------- */
#visit-us {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.384);
  margin: 80px auto 0;
}

.visit-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.visit-item {
  background-color: #fff;
  width: 100%;
  flex: 1 1 100%;
}


#visit-text {
  width: 100%;
  text-transform: lowercase;
  background-color: #fff;
  padding: 20px;
}

.visit-item ul {
  list-style: none;
}

.visit-item img {
  width: 100%;
  height: 100%;
  display: inline-block;
  flex: 1 1 100%;
  object-fit: cover;
}

/* Footer --------------------------------- */
footer {
  bottom: 0;
  left: 0;
  background-color: #000;
  padding: 10px;
}

footer p {
  text-align: center;
  font-weight: 100;
  text-transform: lowercase;
  color: #fff;

}
/* -------------Medium Media Queries----------- */
@media screen and (max-width: 968px) {
  /* Header: Logo + Navbar Medium Query ----*/
  #navbar {
    font-weight: 100;
    background-color: rgb(59, 59, 59);
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    z-index: 999;
    opacity: 0.9;
  }
  #logo {
    width: 50px;
  }

  /* Image Gallery Medium Media Query --------- */
  .image-gallery-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image-gallery-header h2 {
    margin: 0 auto 10px;
  }
  .image-gallery-header p {
    width: 100%;
    border-right: none;
    border-left: 3px solid #000;
  }

  /* Team --- Medium Media Query --------------- */
  .team-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .team-item img {
    width: 430px;
    border: 2px solid rgba(255, 255, 255, 0.384);
  }
  .team-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .team-item h2 {
    display: none;
  }

  .team-blurb {
    border-top: 3px solid #000;
    background-color: rgba(255, 255, 255, 0.384);
  }
  #team-heading-mobile {
    display: inherit;
  }
}

/* -------Quote Medium Media Query------------- */
#quote {
  width: 80%;
  height: auto;
  background-color: #fff;
  margin: 40px auto;
}

.quote-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.quote-item {
  flex: 1 1 100%;
}

.quote-item img {
  width: 100%;
  height: 100%;
  display: inline-block;
  flex: 1 1 100%;
  object-fit: cover;
}

#quote-text {
  position: relative;
  bottom: 1100px;
  right: 250px;
  font-size: 3rem;
  text-transform: lowercase;
  letter-spacing: 2px;
  background-color: rgba(0, 0, 0, 0.171);
  border: 15px solid #fff;
  padding: 20px;
  color: #fff;
}


/* SMALL media queries ----- everything MUST be in COLUMNS */
@media screen and (max-width: 876px) {

  /* Image Gallery Mobile */
  .image-gallery-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image-gallery-header h2 {
    margin: 0 auto 10px;
  }
  .image-gallery-header p {
    width: 100%;
    border-right: none;
    border-left: 3px solid #000;
  }

  /* Team --- Mobile */
  .team-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .team-item img {
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.384);
  }
  .team-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .team-item h2 {
    display: none;
  }

  .team-blurb {
    width: 100%;
    border-top: 3px solid #000;
    background-color: rgba(255, 255, 255, 0.384);
  }

  #team-heading-mobile {
    display: inherit;
  }

  /* Quote Section Mobile ---------------*/
  #quote {
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.685);
    margin: 40px auto 0;
  }
  
  .quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .quote-item {
    flex: 1 1 100%;
  }
  
  .quote-item img {
    width: 100%;
    height: 100%;
    display: inline-block;
    flex: 1 1 100%;
    object-fit: cover;
  }
  
  #quote-text {
    margin: 0;
    position: relative;
    bottom: 350px;
    right: 0px;
    font-size: 2rem;
    letter-spacing: 2px;
    background-color: rgba(255, 255, 255, 0.685);
    display: none;
  }

  #erase-img-mobile {
    display: none;
  }

  /* Visit Us Section Mobile------------------- */
#visit-us {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.384);
  margin: 0 auto;
}

.visit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.visit-item {
  background-color: #fff;
  width: 100%;
  flex: 1 1 100%;
}


#visit-text {
  width: 100%;
  text-transform: lowercase;
  background-color: #fff;
  padding: 20px;
}

.visit-item ul {
  list-style: none;
}

.visit-item img {
  width: 100%;
  height: 100%;
  display: inline-block;
  flex: 1 1 100%;
  object-fit: cover;
}
}